<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="server" value="irc.example.org"/>
      <add key="nick" value="norbert"/>
      <add key="user" value="norbert"/>
      <add key="channels" value="#chan1 #chan2"/>
      <add key="quitMsg" value="Bye!"/>
    </appSettings>
</configuration>